<html>
<head>
<title>OrangePi monitoring</title>
<script src="/static/jquery.min.js"></script>
<script src="/static/jquery.jqplot.min.js"></script>
<script src="/static/jqplot.dateAxisRenderer.js"></script>
<script src="/static/jqplot.canvasAxisLabelRenderer.js"></script>
<script src="/static/jqplot.canvasAxisTickRenderer.js"></script>
<script src="/static/jqplot.canvasTextRenderer.js"></script>
<script src="/static/jqplot.canvasOverlay.js"></script>
<script src="/static/jqplot.cursor.js"></script>
<script src="/static/underscore-min.js"></script>
<style>
.graphic {
  margin-top: 10px;
}
</style>
</head>
<body>
<h1>
Monitoring page.
</h2>
<div style="float: left; width: 800;">
  <div><input id="last_n" value=500 /></div>
  <div class=graphic id=pings></div>
  <div class=graphic id=cputemp></div>
<div>
<script language=javascript src="/static/mon.js"></script>
</body>
</html>
