[Unit]
Description=Orangepi monitoring collector
After=network.target auditd.service

[Service]
WorkingDirectory=/home/nightblues/mon
ExecStart=/home/nightblues/env/bin/python collector.py
KillMode=process
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=omcol.service
