[Unit]
Description=Fanctl for OrangePi
After=network.target auditd.service

[Service]
WorkingDirectory=/
ExecStart=/usr/bin/fanctl
KillMode=process
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=fanctl.service
