[Unit]
Description=OrangePi monitoring
After=network.target auditd.service

[Service]
WorkingDirectory=/usr/share/orangemon
ExecStart=/usr/bin/monitor
KillMode=process
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=orangemon.service
